#storyborder
{
	background-color: #404040;
	width: 320px;
	height: 400px;
	position: absolute;
	left: 240px;
	top: 20px;
	z-index: 3;
}
#infobottom
{
	background-color: #6A6A6A;
	height: 80px;
	width: 715px;
	position: absolute;
	top: 960px;
	left: 550px;
}
#infosection
{
	background-color: #6A6A6A;
	height: 800px;
	width: 480px;
	position: absolute;
	top: 130px;
	left: 670px;
}
#infobar
{
	background-color: #6A6A6A;
	height: 80px;
	width: 715px;
	position: absolute;
	top: 20px;
	left: 550px;
}
.gitbackground
{
	background-color: #404040;
	position: absolute;
	top: 390px;
	height: 670px;
}
#backgroundstage
{
	background-color: #6A6A6A;
	height: 80px;
	width: 260px;
	position: absolute;
	top: 20px;
}
#githeading
{
	opacity: .7;
	width: 300px;
	height: 40px;
	background-color: grey;
	border-radius: 20deg;
	border: 2px solid white;
	border-style: groove;
	font-family: 'Shadows Into Light', cursive;
	color: white;
}
#gitcontainer
{
	position: relative;
	left: 0px;
	height: 540px;
	background-color: #2B2B2B;
	width: 540px;
	margin: 10px;
	border: 2px solid white;
	border-style: groove;
	opacity: .8;
	padding: 5px;
}
.socialmedia
{
	float: left;
	position: absolute;
	top: 0px;
	left: 80px;
	font-family: 'Shadows Into Light', cursive;
}
#exercisebox
{
	display: none;
	border-radius: 30deg;
	position: absolute;
	left: 14px;
	top: 80px;
	width: 227px;
	height: 224px;
	background-color: #3F3F3F;
	border: 1px solid white;
	padding: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#projects
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 10px;
	top: 10px;
	position: absolute;
	left: 10px;
	font-family: 'Shadows Into Light', cursive;
}
#stories
{
	height: 390px;
	width: 300px;
	background-color: #3F3F3F;
	border: 3px solid white;
	border-radius: 20deg;
	margin: 10px;
	position: absolute;
	border-style: groove;
	font-family: 'Shadows Into Light', cursive;
	top: -10px;
}
#project
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 3px;
	font-family: 'Shadows Into Light', cursive;
}
#newsheading1
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#newsheading2
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#newsheading3
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#topheading
{
	position: relative;
	top: -15px;
	left: -74px;
	text-align: center;
	height: 80px;
	width: 200px;
	background-color: grey;
	border: 1px solid white;
	border-radius: 20deg;
	margin-left: 27%;
	color: white;
}
#heading 
{
	text-align: center;
	width: 20em
	height: 10em;
	background-color: grey;
	opacity: .5;
	border-radius: 20deg;
	border: 2px solid white;
	padding: 5px;
	margin: 5px;
	position: absolute;
	left: 32em;
}
body 
{
	background-color: #2B2B2B;
	height: 400px;
}
#btn1 
{
	font-size: 16px;
	color: white;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 10px;
	font-family: 'Shadows Into Light', cursive;
}
