#githeading
{
	opacity: .7;
	width: 300px;
	height: 40px;
	background-color: grey;
	border-radius: 20deg;
	border: 2px solid white;
	border-style: groove;
	font-family: 'Shadows Into Light', cursive;
	color: white;
}
#gitcontainer
{
	position: relative;
	top: 320px;
	left: 450px;
	height: 620px;
	background-color: #3F3F3F;
	width: 810px;
	margin: 10px;
	border: 2px solid white;
	border-style: groove;
	opacity: .8;
	padding: 5px;
}
.socialmedia
{
	float: left;
	position: absolute;
	top: 115px;
	left: 245px;
	font-family: 'Shadows Into Light', cursive;
}
#exercisebox
{
	position: absolute;
	left: 140px;
	top: 155px;
	width: 227px;
	height: 180px;
	background-color: #3F3F3F;
	border: 1px solid white;
	padding: 5px;
	border-radius: 20deg;
	border-style: groove;
	font-family: 'Shadows Into Light', cursive;
}
#projects
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 10px;
	top: 105px;
	position: absolute;
	left: 130px;
	font-family: 'Shadows Into Light', cursive;
}
#stories
{
	height: 390px;
	width: 400px;
	background-color: #3F3F3F;
	border: 3px solid white;
	opacity: .7;
	border-radius: 20deg;
	margin: 10px;
	position: absolute;
	left: 450px;
	border-style: groove;
	font-family: 'Shadows Into Light', cursive;
}
#project
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 3px;
	font-family: 'Shadows Into Light', cursive;
}
#newsheading1
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#newsheading2
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#newsheading3
{
	font-size: 16px;
	color: white;
	background-color: #3F3F3F;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 5px;
	font-family: 'Shadows Into Light', cursive;
}
#topheading
{
	text-align: center;
	height: 80px;
	width: 190px;
	background-color: grey;
	border: 1px solid white;
	opacity: .7;
	border-radius: 20deg;
	margin-left: 27%;
	color: white;
}
#heading 
{
	text-align: center;
	width: 20em
	height: 10em;
	background-color: grey;
	opacity: .5;
	border-radius: 20deg;
	border: 2px solid white;
	padding: 5px;
	margin: 5px;
	position: absolute;
	left: 32em;
}
body 
{
	background-color: papayawhip;
}
#btn1 
{
	font-size: 16px;
	color: white;
	opacity: .7;
	border-radius: 20deg;
	border: 1px solid white;
	margin: 10px;
	font-family: 'Shadows Into Light', cursive;
}
#background3 {
	height: 50px;
	width:92px;
	background-color: #3F3F3F;
	border: 2px solid white;
	padding: 5px;
	position: absolute;
	margin: 20px;
	top: 135px;
	font-family: 'Shadows Into Light', cursive;
}